@model JewelryStore.Models.Products

@{
    ViewData["Title"] = "Сведения о товаре";
    Layout = "_Layout2";
}

<h1>Сведения о товаре</h1>

<div style="font-size: large">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Изображение
        </dt>
        <dd class = "col-sm-10">
            @{
                //string path = @"C:\Users\USR\Documents\Education\УПМ23\JewelryStore\JewelryStore\wwwroot\Resources\" + Model.image;
                string path = @"S:\USERS\50-02\Рыбалко Михаил Алексеевич\УПМ23\JewelryStoreBackUp\JewelryStore\JewelryStore\wwwroot\Resources\" + Model.image;
                if (File.Exists(path))
                {
                    <img width="150px" src="~/Resources/@Model.image" class="products-img">
                }
                else
                {
                    <img width="150px" src="~/Resources/no_image1.png" class="products-img">
                }
            }
        </dd>
        <dt class = "col-sm-2">
            Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            Вид товара
        </dt>
        <dd class = "col-sm-10">
            @Model.Product_Types.name
        </dd>
        <dt class = "col-sm-2">
            Материал
        </dt>
        <dd class = "col-sm-10">
            @Model.Materials.name
        </dd>
        <dt class = "col-sm-2">
            Стоимость
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price) руб.
        </dd>
        <dt class = "col-sm-2">
            Масса
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.weight) г.
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index2">Вернуться к списку</a>
</div>
