@model JewelryStore.Models.Users

@{
    ViewData["Title"] = "Удаление пользователя";
}

<h1>Удалит пользователя</h1>

<h3>Вы уверены, что хотите удалить этого пользователя?</h3>
<div style="font-size: large">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Логин
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.login)
        </dd>
        <dt class = "col-sm-2">
            Пароль
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            Роль
        </dt>
        <dd class = "col-sm-10">
            @Model.Roles.name
        </dd>
        <dt class = "col-sm-2">
            Фамилия
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.surname)
        </dd>
        <dt class = "col-sm-2">
            Имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstname)
        </dd>
        <dt class = "col-sm-2">
            Отчество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patronymic)
        </dd>
        <dt class = "col-sm-2">
            Электронная почта
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            Номер телефона
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
