@model IEnumerable<JewelryStore.Models.Users>

@{
    ViewData["Title"] = "Пользователи";
}

<h1>Пользователи</h1>

<p style="font-size: large">
    <a asp-action="Create">Создать нового пользователя</a>
</p>
<table class="table" style="font-size: medium; text-align: center">
    <thead>
        <tr>
            <th>
                Логин
            </th>
            <th>
                Пароль
            </th>
            <th>
                Роль
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
                Электронная почта
            </th>
            <th>
                Номер телефона
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @item.Roles.name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a class="phone1">@Html.DisplayFor(modelItem => item.phone)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Сведения</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
